.container{
    z-index: 1;
}

.image {
    width: 100%;
    height:700px;
    position: relative;
}

.boto {
    position: absolute;
    top:240px;
    left:120px;
    color: aliceblue;
    font-size: 4rem;
    cursor: default;
}

.para {
    position: absolute;
    top:320px;
    left:120px;
    color: aliceblue;
    font-size: 2rem;
    cursor: default;
}

.para span{
    color: aqua;
}

