.container {
    display: flex;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.588);
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 2;
}

.para {
    font-size: 1.2rem;
    margin: 20px;
    cursor: pointer;
    color:rgb(255, 255, 255);
    list-style-type: none;
    
}

.ul {
    display: flex;
}


.paraContainer {
    display: flex;
    align-items: center;
}

.para:hover{
    color: aqua;
}

.para a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.para a:hover{
    color: aqua;
}