.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.pic {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 40px;
}
.header {
    text-align: center;
    margin:40px 0;
    font-size: 2rem;
}